<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="../static/css/stylecadastro.css" />
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon-32x32.png" />
    <title>Blu-guer Cardapio</title>
  </head>
  <body>

    <!-- MENU -->

    {% with log=log %}
      {% include 'header.html' %} 
    {% endwith %}

    <br><br><br><br><br><br><br><br><br>
      <!-- FIM DO MENU     -->
    <h1 class="txttres">Editar cadastro</h1>
    <div class="row">
      <div class="col-75">
        <div class="container_cadastro">
        <form class="form" method="POST" action="{{url_for('editar_cadastro')}}">
            <div class="row form_input">
                <div class="col-50 form_input">
                    <h3>Dados Pessoais</h3>
                    <label for="fname" class="fa fa-user">Nome</label>
                        <input type="text" id="nome" name="novo_nome" placeholder="Seu Nome" value="{{editar_cliente.nome}}">
                    <label for="fname" class="fa fa-user">Sobrenome</label>
                        <input type="text" id="sobrenome" name="novo_sobrenome" placeholder="Seu Sobrenome" value="{{editar_cliente.sobrenome}}">
                    <label for="fname"><i class="fa fa-mobile"></i>Telefone</label>
                        <input type="text" id="telefone" name="novo_telefone" placeholder="Seu Telefone " value="{{editar_cliente.telefone}}">
                    <label for="email"><i class="fa fa-envelope"></i> Email</label>
                        <input type="text" id="email" name="novo_email" placeholder="seunome@example.com" value="{{editar_cliente.email}}">
                    <label for="fname"><i class="fa fa-user"></i>Usuario</label>
                        <input type="text" id="usuario" name="novo_usuario" placeholder="Escolha um nome de usuario" value="{{editar_cliente.usuario}}">
                    <label for="fname"><i class="fa fa-user"></i>Senha</label>
                        <input type="password" id="senha1" name="novo_senha1" placeholder="Digite uma senha" value="{{editar_cliente.senha1}}">
                    <label for="fname"><i class="fa fa-user"></i>Confirmar senha</label>
                        <input type="password" id="senha" name="novo_senha" placeholder="Confirme sua senha" value="{{editar_cliente.senha}}">
                </div>

                <div class="col-50 form_input">
                    <h3>Endereço de entrega</h3>
                    <div>
                    <label for="ccnum">CEP</label>
                        <input type="text" id="cep" name="novo_cep" placeholder="Ingresse seu CEP" value="{{editar_endereco.cep}}">
                    <label for="cvv">Rua</label>
                        <input type="text" id="rua" name="novo_rua" placeholder="Ingresse sua Rua" value="{{editar_endereco.rua}}">
                    <label for="cvv">Número</label>
                        <input type="text" id="numero" name="novo_numero" placeholder="Ingresse o número de porta" value="{{editar_endereco.numero}}">
                    <label for="cvv">Complemento</label>
                        <input type="text" id="complemento" name="novo_complemento" placeholder="Complemento" value="{{editar_endereco.complemento}}">
                </div>
              

                <div class="col-50 form_input">
                    <h3>Método de Pagamento</h3>
                    <div class="form_input">
                        <label for="ccnum">Número do Cartão:</label>
                        <input type="text" id="numero_cartao" name="novo_numero_cartao" placeholder="Número do cartão de credito" value="{{editar_pagamento.numero_cartao}}">
                        <label for="cvv">Nome (como aparece no cartão)</label>
                        <input type="text" id="nome_cartao" name="novo_nome_cartao" placeholder="Nome do cartão" value="{{editar_pagamento.nome_cartao}}">
                        <label for="cvv">CPF</label>
                        <input type="text" id="cpf" name="novo_cpf" placeholder="CPF registrado no cartão" value="{{editar_pagamento.cpf}}">

                        <div class="vencimento form_input">
                            <label for="cvv">Mes de vencimento</label>
                            <input type="vencimento" id="mes_vencimento" name="novo_mes_vencimento" placeholder="mm" value="{{editar_pagamento.mes_vencimento}}">
                            <label for="cvv">Ano de vencimento</label>
                            <input type="vencimento" id="ano_vencimento" name="novo_ano_vencimento" placeholder="aaaa" value="{{editar_pagamento.ano_vencimento}}">
                        </div>
                    </div>
                </div>
            </div>

            <label class="col-50">
              <input type="checkbox" checked="checked" name="sameadr"> Mesmo endereço para cobrança
            </label>

            <h3 class="col-50">Termos de Uso</h3>
            <label class="col-50">
                <input type="checkbox" checked="checked" name="sameadr">Eu aceito a política de privacidade
            </label>

            <label class="col-50">
                <input type="checkbox" checked="checked" name="sameadr"> Eu aceito receber emails sobre ofertas e novidades
            </label>

            <button type="submit" class="btn">Realizar Cadastro</button>
        </form>
    </div>
    
    <!-- FOOTER -->
    <footer class="footer">
      Copyright 2021
    </footer>
    <!-- FIM FOOTER -->
  </body>
</html>

