<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Fale Conosco</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css'>
<script src="https://kit.fontawesome.com/3dc813d24e.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../static/css/stylefaleconosco.css" >
<link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon-32x32.png" >
</head>
<body>
<div class="wrapper">

   <section class="module-team">

      <div class="team">
         <h2 class="title">Time Projeto Final</h2>
         <div class="team-cards">

            <div class="swiper-container">
               <div class="swiper-wrapper"></div>

            </div>

            <div class="swiper-pagination"></div>
            <div class="navigation">
               <div class="swiper-button-prev"></div>
               <div class="swiper-button-next"></div>
            </div>
         </div>

      </div>
</div>
<form class="form">
   <h2>Mande uma mensagem</h2>
   <p type="Nome:"><input placeholder="Escreva seu nome aqui..."></input></p>
   <p type="E-mail:"><input placeholder="Deixe seu email pra retornarmos..."></input></p>
   <p type="Mensagem:"><input placeholder="O que você gostaria de nos dizer..."></input></p>
   <button>Enviar Mensagem</button>
   <div class="test">
      <i class="fa fa-envelope"  aria-hidden="true"></i> coletivoturmac6blue@gmail.com
   </div>
 </form>
</section>

</div>

  
<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js'></script>
<script  src="../static/js/scriptfaleconosco.js"></script>


<footer class="footer">
   Copyright 2021
 </footer>
 <!-- FIM FOOTER -->
 </body>
</html>
