@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');


@media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }
body {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
  }
  
  /* SCROLLMENU */

div.scrollmenu {
  background-color: rgb(0, 0, 0);
  overflow: auto;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.scrollmenu a {
  display: inline-block;
  font-family: "Noto Sans JP";
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 20px;
}

div.scrollmenu a:hover {
  background-color: #777;
}

/* FIM SCROLLMENU */

  /* CHECKOUT */
  * {
    box-sizing: border-box;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    color: white;
    text-align: left;
  }
  .col-50 h3 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    color: white;
    text-align: center;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container_cadastro {
    background-color: black;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .txttres {
    font-family: "Noto Sans JP";
    text-align: center;
    left: 50%;
    color: white;
    }
  
  input[type=text]  {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  input[type=password] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  input[type=vencimento] {
    width: 20%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    flex-wrap: wrap;
  }
  .vencimento {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }

  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }

   .btn {
    background-color: #cc4444;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #a09e45;
  }
  
  a {
    color: #2196F3;
  }
  
  hr {
    border: 1px solid lightgrey;
  }
  
  span.price {
    float: right;
    color: grey;
  }

  /* FOOTER */

.final{
  background-color: black;
  overflow: auto;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  }
.footer{
  width: 100%;
  height:10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: "Noto Sans JP", sans-serif;
  }

/* FIM FOOTER */